  circle {
    stroke-width: 1;
    stroke: #555;
  }
  circle.NorthAmerica { fill: #FF0000; }
  circle.SouthAmerica { fill: #FF0000; }
  circle.Europe { fill: #0000ff; }
  circle.Asia { fill: #FF7F00; }
  circle.Africa { fill: #fab585; }
  circle.Oceania { fill: #00FF00; }
  text {
    fill: #FFFFFF;
    font-family: sans-serif;
    font-size: 9;
    pointer-events: none;
    text-anchor: middle;
  }